.router-container{
    display: flex;  
}
.container-sidebar{
    background-color: white;
    color: black;
    flex: 0 0 240px;
}
.sidebar-btn{
    text-decoration: none;
    display: block;
    margin: 10px;
    text-align: center;
    border: 1px solid skyblue;
    padding: 5px;

}
.sidebar-btn:hover{
    background-color: azure;
    border: 1px solid skyblue;
}
